.container {
    font-family: 'Noto Sans', sans-serif;
}

span.hgt {
    height: 80px;
}

h3 {
    margin-bottom: 30px;
}

.ly {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

a.day {
    color: #777777;
}

div.l-cnt {
    background: #fefefe;
    width: 200px;
    position: fixed;
    margin-top: 70px;
}

div.r-cnt {
    background: #fefefe;
    width: 100%;
    padding-left: 200px;
    margin-top: 70px;
}

span.hm {
    font-size: 0.4rem;
    color: gray;
}

#mini-calendar th {
    height: 30px;
    text-align: center;
}

#mini-calendar td {
    height: 100px;
}

.today {
    background: #89c3eb;
}

#mini-calendar th:nth-of-type(1),
#mini-calendar td:nth-of-type(1) {
    color: red;
}

#mini-calendar th:nth-of-type(7),
#mini-calendar td:nth-of-type(7) {
    color: blue;
}

table.hm {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

table.hm td,
table.hm th {
    border-top: 1px dashed #e7e7eb;
    padding: 0px 5px;
}

table.hm td.hm2,
table.hm th.hm2 {
    border-top: 0px;
    padding: 0px 5px;
}

table.hm td.hm,
table.hm td.hm2 {
    height: 30px;
    vertical-align: top;
}

table.hm td.sche {
    width: 90%;
    font-size: 0.9rem;
    color: gray;
}

table.hm tr:last-child td,
table.hm tr:last-child th {
    border-bottom: 1px solid #e7e7eb;
}

.tgtDay {
    background-color: #89c3eb;
    color: white;
    border-radius: 20px;
}

@media screen and (max-width: 800px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
    #mini-calendar thead {
        display: none;
    }
    #mini-calendar th,
    #mini-calendar td {
        display: block;
        width: 100%;
        padding: 0;
    }
    #mini-calendar td {
        height: auto;
        display: -webkit-flex;
        display: flex;
    }
    #mini-calendar .calendar-none {
        display: none
    }
    #mini-calendar .calendar-labels {
        padding: 5px;
    }
    #mini-calendar [class*=calender-label] {
        display: inline-block;
        padding: 5px;
        margin-top: 0;
        margin-right: 5px;
        font-size: 12px;
    }
}

.boxSche {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.boxSche p {
    margin: 0;
    padding: 0;
}