.container {
    font-family: 'Noto Sans', sans-serif;
}

span.hgt {
    height: 80px;
}

h3 {
    margin-bottom: 30px;
}

.ly {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

a.day {
    color: #777777;
}

div.l-cnt {
    background: #fefefe;
    width: 200px;
    position: fixed;
    margin-top: 60px;
    margin-left: 10px;
}

div.r-cnt {
    background: #fefefe;
    width: 100%;
    padding-left: 215px;
    margin-top: 70px;
}

span.hm {
    font-size: 0.8rem;
    color: gray;
}

#mini-calendar th {
    height: 30px;
    text-align: center;
    width: 13%;
}

#mini-calendar td {
    height: 100px;
}

.today {
    background: #e8ecef;
}

#mini-calendar th:nth-of-type(1),
#mini-calendar td:nth-of-type(1) {
    color: red;
}

#mini-calendar th:nth-of-type(7),
#mini-calendar td:nth-of-type(7) {
    color: blue;
}

table.hm {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

table.hm td,
table.hm th {
    border-top: 1px dashed #e7e7eb;
    padding: 0px 5px;
}

table.hm td.hm2,
table.hm th.hm2 {
    border-top: 0px;
    padding: 0px 5px;
}

table.hm td.hm,
table.hm td.hm2 {
    height: 30px;
    vertical-align: top;
}

table.hm td.sche {
    width: 90%;
    font-size: 0.9rem;
    color: gray;
}

table.hm tr:last-child td,
table.hm tr:last-child th {
    border-bottom: 1px solid #e7e7eb;
}

.tgtDay {
    background-color: #89c3eb;
    color: white;
    border-radius: 20px;
}

.nrlDay {
    background-color: #dddcd6;
    color: white;
    border-radius: 20px;
}

table.miniCal {
    width: 100%;
}

table.miniCal th {
    background: #EEEEEE;
}

table.miniCal th,
table.miniCal td {
    border: 0px solid #CCCCCC;
    text-align: center;
    padding: 5px;
    font-size: 0.5rem;
}

@media screen and (max-width: 800px) {
    /*
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
    */
    table.miniCal th,
    table.miniCal td {
        font-size: 0.7rem;
    }
    div.l-cnt {
        width: 90%;
        height: 200px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    div.l-cnt-cal {
        grid-column: 2/4;
        grid-row: 1/3;
    }
    div.l-cnt-btn1 {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
    }
    div.l-cnt-btn2 {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
    }
    div.l-cnt-txt {
        grid-column: 1/4;
        grid-row: 3/4;
    }
    div.r-cnt {
        width: 100%;
        padding-left: 15px;
        margin-top: 300px;
    }
    #mini-calendar thead {
        display: none;
    }
    #mini-calendar th,
    #mini-calendar td {
        display: block;
        width: 100%;
        padding: 0;
    }
    #mini-calendar td {
        height: auto;
    }
    #mini-calendar .calendar-none {
        display: none
    }
    .nrlDay {
        font-size: 1.5rem;
    }
}

.boxSche {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    width: 90%;
}

.boxSche p {
    padding: 0;
}

span.title {
    font-size: 0.9rem;
    color: gray;
}

span.titleS {
    font-size: 0.6rem;
    color: #d3cfd9;
}

span.hasSchedule {
    color: #d3381c;
}