@charset "UTF-8";

.pagetop {
  display: block;
  width: 100%;
  background: #b2dfeb;
  padding: 15px;
}
.pagetop img {
  display: block;
  width: 20px;
  vertical-align: middle;
  margin: auto;
}

.footer__inner {
  color: #fff;
  background: #60b8cf;
  padding: 10px 0;
  text-align: center;
}
.footer__logo {
  width: 160px;
  margin: 0 auto;
  padding: 30px 0;
}
.copyright {
  font-size: 1rem;
}

/* @media min-767
------------------------------------------- */
@media only screen and (min-width: 767px) {

}
