body {
    background-color: #fff5d7;
    margin: 0%;
}

#top_menu {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    background-color: #fff;
    padding: 5px;
}

#contents {
    text-align: center;
}

#contents div input {
    margin: 0 auto;
}

span.err {
    color: red;
    font-weight: bold;
}

.rButton {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 5px 0 5px;
    color: #fff;
    border-radius: 10px;
}

.w60p {
    width: 60%;
}

.w80p {
    width: 80%;
}

.btn-red {
    background-color: #d44949;
}

.btn-blue {
    background-color: #000b9e;
}

#addmember {
    padding-top: 200px;
}

#login {
    padding-top: 20px;
}

.input-text {
    border: 0;
    padding: 10px;
    font-size: 1em;
    color: #aaa;
    border: solid 1px #ccc;
    margin: 0 0 30px;
}

@media screen and (max-width: 736px) {
    .top_menu_contents img {
        height: 3rem;
    }
}