.clrRed {
    color: red;
}

.redBold {
    color: red;
    font-weight: bold;
}

.lightGray {
    color: rgba(207, 207, 207, 0.856);
}

.blueBold {
    color: blue;
    font-weight: bold;
}

.page-content-wrapper {
    background-color: #e4e4e4;
}

.page-body {
    background: #e4e4e4;
}

.t-header {
    height: 5px;
    background-color: #696969;
}

.t-header-brand-wrapper {
    height: 5px;
    background-color: #696969;
}

.btn-page {
    background: #00ff62;
    border: none;
    color: #fff;
}

.btn-page i {
    background: #00ff62;
    color: #fff;
}

.btn-page:hover {
    color: #07cc008f;
    color: #fff;
}

.btn.page-icon-btn {
    height: 30px;
    width: 20px;
}

.w50p {
    width: 50%;
}

.w30p {
    width: 30%;
}

.w20p {
    width: 20%;
}

.search {
    display: inline;
}

.closeform {
    background-color: #e4e4e4;
}

.openform {
    background-color: #eee;
}

.fClose {
    display: none;
}

a.app {
    color: white;
}

a.app:hover {
    color: red;
}

a.app2 {
    color: rgba(224, 217, 217, 0.836);
}

a.app2:hover {
    color: red;
}