.f50P {
    font-size: 50%;
}

.f80P {
    font-size: 80%;
}

.f110P {
    font-size: 110%;
}

.f130P {
    font-size: 130%;
}

.f150P {
    font-size: 150%;
}

.wdtSSS {
    width: 20%;
}

.wdtSS {
    width: 40%;
}

.wdtS {
    width: 50%;
}

.wdtM {
    width: 70%;
}

.wdtL {
    width: 90%;
}

.wdtLL {
    width: 100%;
}

div.menu {
    position: fixed;
    width: 100%;
    z-index: 999;
}

body {
    margin: 0;
}

@media print {
    .no_print {
        display: none;
    }
}

div#inputsheet {
    display: block;
}

div#calcsheet {
    display: none;
}

div#report {
    display: none;
}

input.number {
    text-align: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div#report table tr td div {
    text-align: left;
    ;
}

input.lbl {
    border: none;
    background: none;
    -webkit-appearance: none;
}

ul.topnav {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #333333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: white;
}

ul.topnav li a:hover:not(.active) {
    background-color: #dddddd;
    color: #111111;
}

ul.topnav li a.active {
    background-color: #777777;
    color: #111111;
}

ul.topnav li.right {
    float: right;
}

ul.topnav2 {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #24214d;
}

ul.topnav2 li {
    float: left;
}

ul.topnav2 li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: white;
}

ul.topnav2 li a:hover:not(.active) {
    background-color: #dddddd;
    color: #202e6d;
}

ul.topnav2 li a.active {
    background-color: #777777;
    color: #46409b;
}

ul.topnav2 li.right {
    float: right;
}

#content {
    padding-top: 60px;
    text-align: center;
}

.hs {
    border-collapse: collapse;
    margin: 0 auto;
}

.hs td,
.hs th {
    border-width: 1px 0px;
    border-color: #ccc;
    border-style: solid;
    padding: 10px;
    text-align: left;
}

.hs th {
    border-left: 5px solid #eeeeee;
    color: #005ab3;
}

.hs td input {
    font-size: 130%;
}

.areaA {
    width: 200px;
    background-color: #eeeeee;
}

.areaB {
    width: 150px;
    background-color: #eeeeee;
}

.areaC {
    width: 150px;
    background-color: #eeeeee;
}

.areaD {
    width: 150px;
    background-color: #eeeeee;
}

.ff {
    width: 100%;
    height: 100%;
}

table.calc {
    border-collapse: collapse;
    font-size: 80%;
    margin: 0 auto;
    background-color: #f0f0f0;
}

.area1 {
    width: 150px;
}

.area2 {
    width: 150px;
}

.area3 {
    width: 150px;
}

.area4 {
    width: 150px;
}

.area5 {
    width: 150px;
}

.area6 {
    width: 150px;
}

.area7 {
    width: 150px;
}

td.uline {
    border: none;
    border-bottom: 1px solid black;
}

td.tani {
    border: none;
    text-align: left;
}

td.fline {
    border: none;
    border: 1px solid black;
}

table.rep {
    border-collapse: collapse;
    margin: 0 auto;
}

.report1,
.report2,
.report3,
.report4,
.report5,
.report6,
.report7,
.report8,
.report9 {
    width: 150px;
}

.redBold {
    color: red;
    font-weight: bold;
}

textarea.sakubun {
    width: 98%;
    font-size: 11pt;
}

.btn-sakubun {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.btn-sakubun:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*下に動く*/
    border-bottom: none;
    /*線を消す*/
}