.f50P {
    font-size: 50%;
}

.f80P {
    font-size: 80%;
}

.f110P {
    font-size: 110%;
}

.f130P {
    font-size: 130%;
}

.f150P {
    font-size: 150%;
}

.wdtSSS {
    width: 20%;
}

.wdtSS {
    width: 40%;
}

.wdtS {
    width: 50%;
}

.wdtM {
    width: 70%;
}

.wdtL {
    width: 90%;
}

.wdtLL {
    width: 100%;
}

div.menu {
    position: fixed;
    width: 100%;
    z-index: 999;
}

body {
    margin: 0;
}

@media print {
    .no_print {
        display: none;
    }
}

div#inputsheet {
    display: block;
}

div#calcsheet {
    display: none;
}

div#report {
    display: none;
    width: 1250px;
    margin: 0 auto;
}

input.number,
input.number1,
input.number2 {
    text-align: right;
    ime-mode: disabled;
}

.imeon {
    ime-mode: active;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div#report table tr td div {
    text-align: left;
    ;
}

input.lbl {
    text-align: right;
    border: none;
    background: none;
    -webkit-appearance: none;
}

ul.topnav {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #9b9b9b;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #333333;
}

ul.topnav li a:hover:not(.active) {
    background-color: #dddddd;
    color: #111111;
}

ul.topnav li a.active {
    background-color: #777777;
    color: #111111;
}

ul.topnav li.right {
    float: right;
}

ul.topnav li a.lst {
    background-color: #535353;
    color: #dddddd;
}

ul.topnav li a.lst:hover:not(.active) {
    background-color: #dddddd;
    color: #4d4d4d;
}

ul.topnav li a.rvc {
    background-color: #dddddd;
    color: #111111;
}

ul.topnav li a.rvc:hover:not(.active) {
    background-color: #111111;
    color: #dddddd;
}

ul.topnav2 {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #403f4e;
}

ul.topnav2 li {
    float: left;
}

ul.topnav2 li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: white;
}

ul.topnav2 li a:hover:not(.active) {
    background-color: #dddddd;
    color: #434652;
}

ul.topnav2 li a.active {
    background-color: #777777;
    color: #7e7d92;
}

ul.topnav2 li.right {
    float: right;
}

#content {
    padding-top: 60px;
    text-align: center;
}

.hs {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #eeeeee;
}

.hs td,
.hs th {
    border-width: 1px 0px;
    border-color: #ccc;
    border-style: solid;
    padding: 5px;
    text-align: left;
}

.hs th {
    border-left: 5px solid #eeeeee;
    color: #005ab3;
}

.hs td input {
    font-size: 130%;
}

.areaA {
    width: 200px;
}

.areaB {
    width: 200px;
}

.areaC {
    width: 150px;
}

.areaD {
    width: 150px;
}

.widthBunki {
    width: 160px;
}

.area50 {
    width: 50px;
}

.ff {
    width: 100%;
    height: 100%;
}

table.calc {
    border-collapse: collapse;
    font-size: 80%;
    margin: 0 auto;
    background-color: #f0f0f0;
}

.area1 {
    width: 150px;
}

.area2 {
    width: 150px;
}

.area3 {
    width: 150px;
}

.area4 {
    width: 150px;
}

.area5 {
    width: 150px;
}

.area6 {
    width: 150px;
}

.area7 {
    width: 150px;
}

td.uline {
    border: none;
    border-bottom: 1px solid black;
}

td.tani {
    border: none;
    text-align: left;
}

th.fline,
td.fline {
    border: none;
    border: 1px solid black;
    white-space: nowrap;
}

.nwrp {
    white-space: nowrap;
}

table.rep {
    border-collapse: collapse;
    margin: 0 auto;
}

table.repS {
    border-collapse: collapse;
    font-size: 1rem;
    margin: 0 auto;
}

table.repS tr th {
    width: 110px;
    text-align: center;
}

table.repS tr td {
    width: 110px;
    text-align: right;
    padding: 0 10px;
}

tr.bgClr {
    background-color: #e4e4e4;
}

.report1,
.report2,
.report3,
.report4,
.report5,
.report6,
.report7,
.report8,
.report9 {
    width: 150px;
}

.redBold {
    color: red;
    font-weight: bold;
}

.blueBold {
    color: blue;
    font-weight: bold;
}

textarea.sakubun {
    width: 98%;
    font-size: 13pt;
    border: none;
}

.btn-sakubun {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.btn-sakubun2 {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    height: 50px;
    padding-top: 40px;
}

.btn-sakubun:active,
.btn-sakubun2:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*下に動く*/
    border-bottom: none;
    /*線を消す*/
}

.skbnHr {
    height: 1px;
    background-color: #ffffff;
    border: none;
    width: 1200px;
}

.skbnHr500 {
    height: 1px;
    background-color: #ffffff;
    border: none;
    width: 500px;
}

hr.page {
    page-break-before: always;
}

.tempHr {
    height: 500px;
    background-color: #ffffff;
    border: none;
    width: 1px;
}

.skbnGrph {
    vertical-align: top;
}

.emptyTd {
    /* ▼ 斜線はSVG画像を背景として設定 */
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJ3aWR0aDoxMDAlO2hlaWdodDoxMDAlOyI+PGxpbmUgeDE9IjEwMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSIgc3R5bGU9InN0cm9rZTogI2JiYmJiYjtzdHJva2Utd2lkdGg6IDE7Ij48L2xpbmU+PC9zdmc+');
}

button.ntc {
    cursor: pointer;
    background: #049559;
    width: 100%;
    border: 0;
    padding: 5px;
    color: #ffffff;
}

button.ntc:hover {
    background: #148d1a;
}

button.ntc2 {
    cursor: pointer;
    background: #040695;
    width: 100%;
    border: 0;
    padding: 5px;
    color: #ffffff;
}

button.ntc2:hover {
    background: #14208d;
}

button.del {
    cursor: pointer;
    background: #950404;
    border: 0;
    padding: 5px;
    color: #ffffff;
}

button.del:hover {
    background: #9b2929;
}

table.cntr {
    width: 40%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 20px;
}

table.cntr td {
    background-color: #eee;
}

.btnBlue {
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #4b61c3;
    font-size: 12px;
    color: #4b9dc3;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    transition: .4s;
}

.btnBlue:hover {
    background-color: #4b61c3;
    border-color: #85a3e5;
    color: #FFF;
}

.btnRed {
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #c34b4b;
    font-size: 12px;
    color: #c34b4b;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    transition: .4s;
}

.btnRed:hover {
    background-color: #c34b4b;
    border-color: #e58585;
    color: #FFF;
}

.btnOrange {
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #c38f4b;
    font-size: 12px;
    color: #c3854b;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    transition: .4s;
}

.btnOrange:hover {
    background-color: #c37b4b;
    border-color: #e5a885;
    color: #FFF;
}

caption {
    caption-side: top;
    text-align: right;
}

.tpl {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #eeeeee;
    width: 700px;
}

.tpl th {
    width: 150px;
}

.tpl td,
.tpl th {
    border-width: 1px 0px;
    border-color: #ccc;
    border-style: solid;
    padding: 5px;
    text-align: left;
}

.tpl th {
    border-left: 5px solid #eeeeee;
    color: #005ab3;
}

.tpl td input {
    font-size: 130%;
}